mat-card {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
}

h1[mat-title] {
  margin-bottom: 1rem; /* Add space between title and form */
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  width: 100%;
}
